<ion-header>
  <header [colorAttr]="'primary-dark'">Networks</header>
</ion-header>

<ion-content class="container">
  <ion-list padding>
    <ion-item class="active-network">
      <ion-label>
        Configuration
      </ion-label>
    </ion-item>
    <ion-item class="info active-network" text-center>
      <ion-select name="selectedNetwork" required [(ngModel)]="activeNetworkName" (ionChange)="updateNetworks()">
        <ion-option *ngFor="let network of getNetworks()" [value]="network.name">
          {{ network.name }}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list lines *ngIf="getActiveNetwork()">
    <div *ngIf="getActiveNetwork().RSK && getActiveNetwork().RSK.url">
    <ion-item-divider color="secondary-dark">RSK - Rootstock</ion-item-divider>
    <ion-item class="node">
      <ion-label item-start>
        Name
      </ion-label>
      <ion-label class="info">
        {{ getActiveNetwork().RSK.name }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label item-start>
        URL
      </ion-label>
      <ion-label class="info">
        {{ getActiveNetwork().RSK.url }}
      </ion-label>
    </ion-item>
    </div>
    <div *ngIf="getActiveNetwork().ETH && getActiveNetwork().ETH.url">
        <ion-item-divider color="secondary-dark">ETH - Ethereum</ion-item-divider>
    <ion-item class="node">
      <ion-label item-start>
        Name
      </ion-label>
      <ion-label class="info">
        {{ getActiveNetwork().ETH.name }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label item-start>
        URL
      </ion-label>
      <ion-label class="info">
        {{ getActiveNetwork().ETH.url }}
      </ion-label>
    </ion-item>
    </div>
  </ion-list>
</ion-content>