page-settings {
    ion-title > * {  
        color: color($colors, primary-light) !important;
    }

    .container {
        background-color: color($colors, secondary-light) !important;
    }

    ion-item {
        background-color: color($colors, secondary-light) !important;  
        color: color($colors, secondary-dark) !important;      
    }

    button.button-item > div.item-inner {
        border: none !important;
    }

    .info {
        font-weight: bold;
    }

    .node {
        background-color: color($colors, secondary-light) !important;  
        color: color($colors, secondary-dark) !important;              
    }

    .range-tick {
        background-color: color($colors, secondary-light) !important;  
    }

    .range-bar {
        background-color: color($colors, secondary-dark) !important;
    }

    .range-bar-active, .range-knob {
        background-color: color($colors, primary) !important;          
    }
}
