<ion-header>
  <header [colorAttr]="'primary-dark'">Settings</header>
</ion-header>

<ion-content class="container">
  <ion-list lines>
    <ion-item-divider color="secondary-dark">General</ion-item-divider>
    <ion-item>
      <ion-label item-start>
        Profile
      </ion-label>
      <ion-label class="info">
        Default
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label item-begin class="info">
        Version
      </ion-label>
      <ion-label class="info">
        0.1.8
      </ion-label>
    </ion-item>
    <ion-item-divider color="secondary-dark">Network</ion-item-divider>
    <button ion-item no-lines (click)="goToNetworks()">
      <ion-label item-begin item-start>
        Setup
      </ion-label>
      <ion-label class="info">
        {{ activeNetwork.name }}
      </ion-label>
      <ion-icon name="cube" item-end></ion-icon>
    </button>
    <button ion-item (click)="goToNodeDetails('RSK')" *ngIf="activeNetwork.RSK" class="node">
      <ion-label item-start>
        RSK Node
      </ion-label>
      <ion-label class="info">
        {{ activeNetwork.RSK.name }}
      </ion-label>
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </button>
    <button ion-item (click)="goToNodeDetails('ETH')" *ngIf="activeNetwork.ETH" class="node">
      <ion-label item-start>
        ETH Node
      </ion-label>
      <ion-label class="info">
        {{ activeNetwork.ETH.name }}
      </ion-label>
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </button>
    <ion-item-divider color="secondary-dark">Storage</ion-item-divider>
    <ion-item *ngIf="hasCache">
      <ion-label item-start>Cache size</ion-label>
      <ion-label class="info">{{ cacheSize }}</ion-label>
    </ion-item>
    <ion-label *ngIf="!hasCache" text-center>No cache data</ion-label>
    <button ion-item no-line full text-center color="secondary" *ngIf="hasCache" (click)="clearCache()"
      class="button-item">
      Clear cache
      <ion-icon name="trash" item-end></ion-icon>
    </button>
    <button ion-item no-line color="warn" (click)="backupMnemonic()" *ngIf="!profile.mnemonicIsBackup"
      class="button-item">
      Backup Mnemonic
      <ion-icon name="warning" item-end></ion-icon>
    </button>
    <button ion-item text-center color="valid" class="button-item" (click)="backupMnemonic()"
      *ngIf="profile.mnemonicIsBackup">
      Backup Mnemonic
      <ion-icon name="archive" item-end></ion-icon>
    </button>
    <!--ion-item no-lines>
      <button ion-item item-end>
        Private Keys
      </button>
    </ion-item-->
    <!--ion-item>
      <ion-label item-start>
        Confirmations
        <ion-badge>{{confirmations}}</ion-badge>
      </ion-label>
      <ion-range min="1" max="12" step="1" snaps="true" [(ngModel)]="confirmations" color="primary">
      </ion-range>
    </ion-item-->
    <!--ion-item no-lines>
      <button ion-item color="danger">
        Offline
      </button>
    </ion-item-->
    <button ion-item text-center class="button-item" color="danger" (click)="confirmClearData()">
      Clear All Data
      <ion-icon item-end name="nuclear"></ion-icon>
    </button>
    <ion-item-divider color="secondary-dark">Performance</ion-item-divider>
    <button ion-item (click)="goToBootTime()">
      <ion-label>Boot Time</ion-label>
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </button>
  </ion-list>
</ion-content>