<ion-header>
  <header [colorAttr]="'secondary-dark'" class="header">Portfolio</header>
</ion-header>

<ion-content class="container">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list clear *ngIf="activeAccount">
    <ion-item-divider>Core Tokens</ion-item-divider>
    <button ion-item no-lines *ngFor="let token of getCore()" (click)="goToDetailsPage(token)"
      class="token">
      <ion-avatar item-start>
        <img *ngIf="token.image" type="image/svg+xml" src="{{ token.image }}" class="token-svg"/>
        <img *ngIf="!token.image" class="token-svg" src="assets/imgs/currencies/OTHER.png"/>
      </ion-avatar>
      <h2>
        <b>{{ activeAccountBalance(token) }}</b>
      </h2>
      <button item-end ion-button icon-end solid [disabled]="!activeAccountCanSend(token)" (click)="startTransfer(token, $event)">
        Send
        <ion-icon name="card"></ion-icon>
      </button>
    </button>

    <ion-item-divider *ngIf="getTokens('RSK') != false">Rootstock Tokens</ion-item-divider>
    <button ion-item no-lines *ngFor="let token of getTokens('RSK')" (click)="goToDetailsPage(token)"
      class="token">
      <ion-avatar item-start>
        <img *ngIf="token.image" type="image/svg+xml" src="{{ token.image }}" class="token-svg"
        />
        <img *ngIf="!token.image" class="token-svg" src="assets/imgs/currencies/OTHER.png"
        />
      </ion-avatar>
      <h2>
        <b>{{ activeAccountBalance(token) }}</b>
      </h2>
      <img item-end icon-end class="kyc-svg" src="assets/icon/no-kyc-icon.svg" *ngIf="!activeAccountIsKyc(token)"/>
      <button item-end ion-button icon-end solid [disabled]="!activeAccountCanSend(token)" (click)="startTransfer(token, $event)">
        Send
        <ion-icon name="card"></ion-icon>
      </button>
    </button>

    <ion-item-divider *ngIf="getTokens('ETH') != false || getContracts('ETH') != false">Ethereum</ion-item-divider>
    <button ion-item no-lines *ngFor="let token of getTokens('ETH')" (click)="goToDetailsPage(token)"
      class="token">
      <ion-avatar item-start>
        <img *ngIf="token.image" type="image/svg+xml" src="{{ token.image }}" class="token-svg"
        />
        <img *ngIf="!token.image" class="token-svg" src="assets/imgs/currencies/OTHER.png"
        />
      </ion-avatar>
      <h2>
        <b>{{ activeAccountBalance(token) }}</b>
      </h2>
      <img item-end icon-end class="kyc-svg" src="assets/icon/no-kyc-icon.svg" *ngIf="!activeAccountIsKyc(token)"/>
      <button item-end ion-button icon-end solid [disabled]="!activeAccountCanSend(token)" (click)="startTransfer(token, $event)">
        Send
        <ion-icon name="card"></ion-icon>
      </button>
    </button>
    <button ion-item no-lines *ngFor="let contract of getContracts('ETH')"
        (click)="goToContractDetailsPage(contract)" class="token">
      <ion-avatar item-start>
        <img *ngIf=" contract.image" type="image/svg+xml" src="{{ contract.image }}" class="token-svg"/>
        <img *ngIf="!contract.image" class="test-svg" src="assets/icon/contract-icon.svg"/>
      </ion-avatar>
      <h2>
        <b>{{ contract.name }}</b>
      </h2>
      <img item-end icon-end class="kyc-svg" src="assets/icon/vote-icon.svg" *ngIf="canVote(contract)"/>
    </button>
  </ion-list>
  <ion-card>
    <ion-label *ngIf="!activeAccount" text-center color="warn">Please select an account</ion-label>
  </ion-card>
</ion-content>