page-voting {
    ion-title > *, ion-header ion-icon.back-button-icon.icon {  
        color: color($colors, primary-light) !important;
    }

    .container {
        background-color: color($colors, secondary-light) !important;
    }
    
    ion-item {
        background-color: color($colors, light) !important;  
        color: color($colors, secondary-dark) !important;      
    }

    div.item-inner {
        border-color: color($colors, secondary) !important;
    }

    .balance-title {
        margin-bottom: 0px;
    }

    .leftlabel-reduced > ion-item > div > div :first-child {
        flex: 0.46;
    }

    .leftlabel-reduced > ion-item > div > div :nth-child(2) {
        text-align: right;
    }

    .balance {
        font: 30px bold;
        margin-top: 0px;
        position: absolute;
        right: 0px;
    }

    .result {
        font: 30px bold;
    }
}
