page-portfolio-details {
    ion-title > *, ion-header ion-icon.back-button-icon.icon {  
        color: color($colors, primary-light) !important;
    }

    .container {
        background-color: color($colors, secondary-light) !important;
    }
    
    ion-item {
        background-color: color($colors, secondary-dark) !important;  
        color: color($colors, secondary-light) !important;      
    }

    div.item-inner {
        border-color: color($colors, secondary) !important;
    }

    .nohistory { 
        text-align: center;
    }

    .progress {
        text-align: center;
    }

    .errors {
        text-align: center;
        color: color($colors, danger) !important;
    }

    .balance-item {
        padding-bottom: 5px;
    }

    .balance-title {
        margin-bottom: 0px;
    }

    .balance {
        font: 30px bold;
        margin-top: 0px;
        position: absolute;
        right: 0px;
    }

    .positiveAmount {
        color: color($colors, primary) !important;    
        width: 40%;
        display: inline-block;
    }

    .negativeAmount {
        color: color($colors, danger) !important;      
        width: 40%;
        display: inline-block;
    }

    .account {
        display: inline-block;
        text-align: right;
    }
}
